# symlink for this file to systemd: sudo ln -s /home/it/vcs-automat-misc/client/automat.service /etc/systemd/system/automat.service
# enable service: sudo systemctl enable automat.service
# start service: sudo systemctl start automat.service
# see logs: sudo journalctl -u automat.service

[Unit]
Description=Bierautomat-Service

[Service]
User=it
Type=simple
Restart=always
RestartSec=10
TimeoutSec=10
ExecStart=/usr/bin/python3 /home/it/vcs-automat-core/unit_tests/tbot.py

[Install]
WantedBy=multi-user.target